---
layout: default
title: Development
---

#right-sidebar
  #main-column
    :markdown
      The development of SteamCannon is primarily sponsored by Red Hat, Inc.

      The code is developed as open-source, with a publicly-accessible
      [source-code repository](/development/source_repository/).

      The code is continuously built using [continuous integration](/development/continuous_integration).

      The team is lead by Ben Browning and is supported by the other members of [ProjectOdd](http://projectodd.org/).
  #sidebar-column
    #latest-jiras
      %h1 Latest JIRA Activity
      = rss_widget('jira_activity', 'http://jira.jboss.org/plugins/servlet/streams?key=TORQUE', :limit =>10, :header => false, :content => false, :date => false)
    #latest-git
      %h1 Latest Git Activity
      = rss_widget('git_activity', 'http://github.com/torquebox/torquebox/commits/master.atom', :limit =>10, :header => false, :content => false, :date => false)
