---
layout: default
title: Development
---

#development
  #intro
    %p
      The TorqueBox team fully welcomes all contributors to the project. We have attempted to
      organize our code and development tools to make it easy for community members to participate
      as deeply as they desire.

  #main-content
    .section
      %h1
        Sponsorship

      %a{:href=>'http://redhat.com/'}
        %img{:src=>'/images/redhat.png', :style=>'float:right; margin-bottom: 2em'}

      %p
        The development of TorqueBox is primarily sponsored by Red Hat, Inc.

    .section
      = partial('issue-tracker.html.haml')

    #sourcerepo.section
      %h1
        Code Repository

      %a{:href=>'http://github.com/torquebox/torquebox'}
        %img.screencap{:src=>'/images/screencaps/github.png'}

      %p
        The code is developed as open-source, with a publicly-accessible
        <a href="http://github.com/torquebox/torquebox">source-code repository</a>.

      %p
        All of the code for TorqueBox is open-source under the <a href="/license-lgpl.html">LGPL</a>.
        You may checkout the latest code under development at any time. 
  
      %p
        The primary source repository is located at GitHub, and is obviously using
        the Git revision-control system.
  
      %p
        Using Git and GitHub, it's simple for contributors to fork the code to develop
        bugfixes or features, and easily integrate their codelines back with the 
        primary codebase, including all attribution and history.
  
      %p
        Git is awesome.

      %p
        You can easily <a href='http://github.com/torquebox/torquebox'>browse the repository</a>.

      %p
        You may clone a complete copy of the repository using git.

      %pre
        git clone git://github.com/torquebox/torquebox.git

    #ci.section
      %h1
        Continuous Integration

      %p
        The code is continuously built using our 
        <a href='http://projectodd.ci.cloudbees.com'>continuous integration service</a>.

      %p
        Recent incremental builds are <a href="/builds/">available here</a>.

      %p
        For interim developer releases, when the TorqueBox gems have not been pushed to the official RubyGems
        repository, the continuous integration server provides a repository matching the latest build.
        Links to the Gem repository for each successful incrememtnal build are found on the 
        %a{:href=>"builds/"} builds
        page. 
   


    
