---
layout: default
title: Documentation
priority: 0.9
---

.prepend-top
  %table.downloads
    %tr
      %th
        Version
      %th
        Browse
      %th
        Download

      %tr
        %td
          %a{:href=>'/2x/builds'}
            2.x.incremental
        %td
          %a{:href=>'/2x/builds/html-docs/'}
            Browse
        %td
          %a{:href=>'/2x/builds/torquebox-docs.pdf'}
            PDF

    - for release in ( site.releases )
      %tr
        %td
          #{release.version}
        %td
          %a{:href=>"/documentation/#{release.version}/"}Browse
        %td
          %a{:href=>release.urls.docs.pdf} PDF
          |
          %a{:href=>release.urls.docs.html_multi_zip} Multi-page HTML Bundle
          - unless release.urls.docs.html_single_zip.empty?
            |
            %a{:href=>release.urls.docs.html_single_zip} Single-page HTML Bundle
          - unless release.urls.docs.epub.empty?
            |
            %a{:href=>release.urls.docs.epub} ePub
  
