---
layout: default
title: Documentation
priority: 0.9
---

.prepend-top
  %table.downloads
    %tr
      %th
        Version
      %th
        Browse
      %th
        Download Manual

      %tr
        %td
          %a{:href=>'/builds', :rel=>'incremental builds'}
            Latest incremental
        %td
          %a{:href=>'/builds/LATEST/getting-started/', :rel => 'incremental documentation'}Getting Started Guide
          |
          %a{:href=>'/builds/LATEST/html-docs/', :rel=>'incremental documentation'}Manual
          |
          %a{:href=>'/builds/LATEST/javadocs/', :rel=>'incremental documentation'}JavaDocs
          |
          %a{:href=>'/builds/LATEST/yardocs/', :rel=>'incremental documentation'}Gem RDocs
        %td
          %a{:href=>'/builds/LATEST/torquebox-docs.pdf', :rel=>'incremental documentation'}
            PDF

    - for release in ( site.releases )
      - rel = release.latest? ? 'documentation' : 'nofollow'
      %tr
        %td
          #{release.version}
        %td
          - unless release.urls.getting_started.browse.empty?
            %a{:href=>release.urls.getting_started.browse, :rel=>rel}Getting Started Guide
            |
          %a{:href=>"/documentation/#{release.version}/", :rel=>rel}Manual
          - unless release.urls.docs.javadocs.empty?
            |
            %a{:href=>"/documentation/#{release.version}/javadoc", :rel=>rel}JavaDocs
            |
            %a{:href=>"/documentation/#{release.version}/yardoc", :rel=>rel}Gem RDocs
        %td
          %a{:href=>release.urls.docs.pdf, :rel=>rel} PDF
          |
          %a{:href=>release.urls.docs.html_multi_zip, :rel=>rel} Multi-page HTML Bundle
          - unless release.urls.docs.html_single_zip.empty?
            |
            %a{:href=>release.urls.docs.html_single_zip, :rel=>rel} Single-page HTML Bundle
          - unless release.urls.docs.epub.empty?
            |
            %a{:href=>release.urls.docs.epub, :rel=>rel} ePub
  
