---
layout: default
title: Documentation
---

.span-24.last.append-bottom
  %h1{:style=>'text-align: center;'}
    %a{:href=>"/documentation/#{site.releases.first.version}/"}Browse the #{site.releases.first.version} documentation.
  

.prepend-top
  %p
    Or you can browse historic documentation for prior releases.

  %table.downloads
    %tr
      %th
        Version
      %th
        Browse
      %th
        Download
    - for release in ( site.releases )
      %tr
        %td
          #{release.version}
        %td
          %a{:href=>"/documentation/#{release.version}/"}Browse
        %td
          %a{:href=>release.urls.docs.pdf} PDF
          |
          %a{:href=>release.urls.docs.html_multi_zip} Multi-page HTML Bundle
          - unless release.urls.docs.html_single_zip.empty?
            |
            %a{:href=>release.urls.docs.html_single_zip} Single-page HTML Bundle
          - unless release.urls.docs.epub.empty?
            |
            %a{:href=>release.urls.docs.epub} ePub
  
