---
title: Features
layout: default
---

#two-column
  #left-column
    :markdown
      Rack
      =============

      TorqueBox supports Rack 1.1.0, including Rails 2.3+, Sinatra, and other.  Rack applications are served 
      as first-class resources within the web container. The web container is clusterable, and web sessions may 
      be shared between nodes without any additional configuration.

      High-performance tried-and-true JDBC database drivers power your ActiveRecord models.

  #right-column
    :markdown
      Scheduled Jobs
      =============
      cron-like functionality is provided by the TorqueBox server. Job classes implemented in Ruby have full access to to your Ruby environment and are managed by a durable job scheduler.
  
      Task Queues
      =============
      Asynchronous task queues are supported by TorqueBox using an industrial-strength, clusterable messaging bus. Tasks are persistent and have the ability to access your entire Ruby environment.

