---
title: License
layout: default
---

.span-14.colborder
  :markdown
    ## Copyright

    The *TorqueBox* software is copyright 2009-2010 by Red Hat, Inc.

    ## Software Licenses

    TorqueBox is a community-driven open-source project. It's lead developer is employed
    by Red Hat, Inc.  Given this, the project strives to be a good open-source citizen.

    To that end, the primary project is licensed under the GNU LGPL.  TorqueBox depends on
    other open-source projects, some of which are licensed under the MIT License.

    ## Trademarks

    The *TorqueBox* name, logo and other marks are trademarks of Red Hat, Inc.
    and may not be used without prior written permission.

.span-9.last
  :markdown
    * [GNU Lesser General Public License](/license-lgpl.txt)
    * [MIT License](/license-mit.txt)
