---
title: Resources
layout: default
---

#two-column
  #left-column
    :markdown
      # Screencasts
    
      We've produced two screencasts so far, and both are somewhat out-of-date. 
    
      * [Getting Started with TorqueBox](/news/2009/05/29/screencast-getting-started-with-torquebox/)
      * [Scheduled Jobs with TorqueBox](/news/2009/05/30/screencast-scheduled-jobs-with-torquebox/)
    
    
      # Presentations
    
      We've given a few presentations about TorqueBox.  As we find them, we'll gather them here.
    
      * [DevNexus, Atlanta, Georgia, March 2011](/news/2011/03/29/devnexus-preso/)
      * [MagicRuby, Orlando, Florida, February 2011](/news/2011/02/08/magic-ruby-preso/)
      * [Strange Loop, St. Louis, Missouri, October 2009](/news/2009/10/26/torquebox-presentation-from-strange-loop-in-st-louis/)
      * [Asheville.rb, Asheville, North Carolina, December 2009](/news/2009/12/02/presentation-tonight-at-asheville-rb/)
    
      # Articles
    
      Others have written articles about TorqueBox
    
      * [TorqueBox: An All-In-One Java/JBoss Powered Ruby Webapp Platform](http://www.rubyinside.com/torquebox-an-all-in-one-javajboss-powered-ruby-webapp-platform-2783.html)

      # Community

      Our community is producing related things

      * [TorqueBox Vagrant Box](http://thinkingconcurrently.com/2010/07/08/torquebox-vagrant-box-updated-to-beta20.html) by 
      the most excellent Ben Browning.
  
  #right-column
    :markdown
      # Wallpapers
  
      ![Wallpaper](/images/desktop_thumb.jpg)
  
      Grab a [cool desktop wallpaper](http://www.jboss.org/coolstuff/desktopwallpapers/torquebox.html) from the JBoss.org design team.
  
      # Gear
      
      ![Goes to 11](/images/goes11.jpg)
  
      A full assortment of [shirts, mugs, mousepads and other muck](http://www.cafepress.com/jbossorg/7023006) is available.
