---
title: Resources
layout: default
---

.span-14
  :markdown
    # Screencasts
  
    We've produced two screencasts so far, and both are somewhat out-of-date. 
  
    * [Getting Started with TorqueBox](/news/2009-05-29-screencast-getting-started-with-torquebox.html)
    * [Scheduled Jobs with TorqueBox](/news/2009-05-30-screencast-scheduled-jobs-with-torquebox.html)
  
  
    # Presentations
  
    We've given a few presentations about TorqueBox.  As we find them, we'll gather them here.
  
    * [Strange Loop, St. Louis, Missouri, October 2009](/news/2009-10-26-torquebox-presentation-from-strange-loop-in-st-louis.html)
    * [Asheville.rb, Asheville, North Carolina, December 2009](/news/2009-12-02-presentation-tonight-at-asheville-rb.html)
  
    # Articles
  
    Others have written articles about TorqueBox
  
    * [TorqueBox: An All-In-One Java/JBoss Powered Ruby Webapp Platform](http://www.rubyinside.com/torquebox-an-all-in-one-javajboss-powered-ruby-webapp-platform-2783.html)

.span-10.last
  :markdown
    # Wallpapers

    ![Wallpaper](https://www.jboss.org/dms/coolstuff/desktops/torquebox/desktop_torquebox_1024x768.jpg){:width='300px'}

    Grab a [cool desktop wallpaper](http://www.jboss.org/coolstuff/desktopwallpapers/torquebox.html) from the JBoss.org design team.

    # Gear
    
    ![Goes to 11](/images/goes11.jpg)

    A full assortment of [shirts, mugs, mousepads and other muck](http://www.cafepress.com/jbossorg/7023006) is available.

