---
title: Resources
layout: default
priority: 0.7
---

#two-column
  #left-column
    :markdown
      # Screencasts
    
      We've produced three TorqueBox 2.x screencasts so far with more planned soon.
      These first two screencasts will get you up and running with an installation
      of the torquebox-server gem and a basic Rails application deployment.
      They're short and sweet at around 5 minutes each.

      * [Installing TorqueBox 2.0](http://vimeo.com/33299335)
      * [Getting Started With Rails Apps on TorqueBox](http://vimeo.com/33417394)
      * [Introduction to Sinatra on TorqueBox](http://vimeo.com/jbossdeveloper/sinatra-on-torquebox)
    
      # Presentations
    
      We've given a few presentations about TorqueBox.  As we find them, we'll gather them here.

      * [DevIgnition, McLean, Virgina, December 2011](/news/2011/12/05/devignition-preso/)
      * [DC:JBUG, Washington, D.C., November 2011](/news/2011/11/12/torquebox-at-dcjbug/)
      * [RubyConf Brazil, November 2011](/news/2011/11/01/torquebox-in-brazil/)
      * [StrangeLoop, St. Louis, MO, September 2011](/news/2011/09/22/strangeloop-preso/)
      * [Ruby Hoedown, Nashville, Tennessee, September 2011](/news/2011/09/01/ruby-hoedown-preso/)
      * [JRubyConf, Washington, D.C., August 2011](/news/2011/08/10/jrubyconf-preso/)
      * [OSCON Java, Portland, Oregon, July 2011](/news/2011/07/29/oscon-preso/)
      * [JUDCon, Boston, Massachusetts, May 2011](/news/2011/06/14/scaling-rails-with-torquebox-video/)
      * [DevNexus, Atlanta, Georgia, March 2011](/news/2011/03/29/devnexus-preso/)
      * [MagicRuby, Orlando, Florida, February 2011](/news/2011/02/08/magic-ruby-preso/)
      * [Strange Loop, St. Louis, Missouri, October 2009](/news/2009/10/26/torquebox-presentation-from-strange-loop-in-st-louis/)
      * [Asheville.rb, Asheville, North Carolina, December 2009](/news/2009/12/02/presentation-tonight-at-asheville-rb/)
    
      # Really Old and Obsolete Stuff

      ## Screencasts: Really, They're Old and No Longer Relevant 

      But have a look if you like.  We still have a couple of videos around
      from our 1.x line, if you are feeling nostalgic. But for anyone just
      getting started with a new TorqueBox app, you'll definitely want to focus
      on 2.x.

      * [Getting Started with TorqueBox](/news/2009/05/29/screencast-getting-started-with-torquebox/)
      * [Scheduled Jobs with TorqueBox](/news/2009/05/30/screencast-scheduled-jobs-with-torquebox/)
    
    
      ## Articles: Based on 1.x Beta 18 - See? Old.
    
      Others have written articles about TorqueBox
    
      * [TorqueBox: An All-In-One Java/JBoss Powered Ruby Webapp Platform](http://www.rubyinside.com/torquebox-an-all-in-one-javajboss-powered-ruby-webapp-platform-2783.html)

      ## Community: Ben Isn't Really "Community" Anymore Since He's on The Core Team Now

      Our community is producing related things

      * [TorqueBox Vagrant Box](http://thinkingconcurrently.com/2010/07/08/torquebox-vagrant-box-updated-to-beta20.html) by 
      the most excellent Ben Browning.
  
  #right-column
    :markdown
      # Wallpapers
  
      ![Wallpaper](/images/desktop_thumb.jpg)
  
      Grab a [cool desktop wallpaper](http://www.jboss.org/coolstuff/desktopwallpapers/torquebox.html) from the JBoss.org design team.
  
      # Gear
      
      ![Goes to 11](/images/goes11.jpg)
  
      A full assortment of [shirts, mugs, mousepads and other muck](http://www.cafepress.com/jbossorg/7023006) is available.
