---
layout: default
title: Source Repository
---

#right-sidebar
  #main-column
    :markdown
      All of the code for TorqueBox is open-source under the [LGPL](/license-lgpl.html). 
      You may checkout the latest code under development at any time. 
  
      The primary source repository is located at GitHub, and is obviously using
      the Git revision-control system.
  
      Using Git and GitHub, it's simple for contributors to fork the code to develop
      bugfixes or features, and easily integrate their codelines back with the 
      primary codebase, including all attribution and history.
  
      Git is awesome.

      # Continuous Integration

      TorqueBox is continuously built after each commit, to ensure quality. The latest status
      and developer build is listed below.

      <script type="text/javascript" src="http://ci.stormgrind.org/externalStatus.html?buildTypeId=bt7&js=1">
      </script>

  #sidebar-column
    .box
      :markdown
        Browse the primary TorqueBox Git repository with your web browser:
        
        * [http://github.com/torquebox/torquebox](http://github.com/torquebox/torquebox)
        
        Clone the repository using this URL:
      
        * `git://github.com/torquebox/torquebox.git`
