---
title: Team Meeting
layout: base
priority: 0.0
---

.div{:style=>"margin: 20px;"}
  %h1 TorqueBox Team Meeting
  %form
    Password:
    %input{:id=>"password", :type=>"text"}
    %input{:type=>"submit", :value=>"Join Meeting"}
  #tok{:style=>"display: none;"}
    %iframe{:id=>"basicEmbed", :src=>"pwO9JwVvn008E3iA73N5As7v51SGbtJwbFBTTfJdMuYiIyRj2U3+vSpZ5RkTG/5JiFxjMenkkn9M9AaRGTPI9GgUArHHLD38UnEv+pKOfLW5", :width=>"1200", :height=>"600", :style=>"border:none"}

%script{:src=>"http://code.jquery.com/jquery-1.5.min.js", :type=>"text/javascript"}
%script{:src=>"aes.js", :type=>"text/javascript"}
:javascript
  $(function() {
    $("form").submit(function() {
      var password = $("#password").val();

      // Decrypt the video url
      var tokFrame = $("#tok iframe");
      var videoUrl = tokFrame.attr('src');
      videoUrl = Aes.Ctr.decrypt(videoUrl, password, 256);
      tokFrame.attr('src', videoUrl);

      // Show the tokbox window and hide our form
      $("#tok").show();
      $("form").hide();
      return false;
    });
  });
