---
title: Upcoming Conferences
layout: base
---

%table
  %tr
    %th Name
    %th Location
    %th Dates
    %th Regional?
    %th URL
    %th Call For Papers
    %th Who Wants to Submit?
    %th Status
  %tr
    %td DevNexus
    %td Atlanta, GA
    %td February 18 - 19
    %td Y
    %td
      %a{:href=>"http://devnexus.com/"} http://devnexus.com/
    %td 
      %strong Open until 12/31
    %td 
    %td 
  %tr
    %td Clojure/West
    %td Portland, OR
    %td March 18 - 20
    %td N
    %td
      %a{:href=>"http://clojurewest.org/"} http://clojurewest.org/
    %td Opens 11/14
    %td 
    %td 
  %tr
    %td POSSCON
    %td Columbia, SC 
    %td March 27 - 28
    %td Y
    %td
      %a{:href=>"http://posscon.org/"} http://posscon.org/
    %td 
      %strong Open until 11/15
    %td 
    %td 
  %tr
    %td Jax
    %td Rheingoldhalle, Mainz, Germany
    %td April 22 - 26
    %td N
    %td
      %a{:href=>"http://jax.de/"} http://jax.de/
    %td 
      %strong Open until 11/14
    %td 
    %td

  %tr
    %td RailsConf
    %td Portland, OR
    %td April 29 - May 2
    %td N
    %td
      %a{:href=>"http://railsconf.com/"} http://railsconf.com/
    %td ?
    %td ?
    %td
  %tr
    %td JRubyConf
    %td ?
    %td ?
    %td N
    %td
      %a{:href=>"http://jrubyconf.com/"} http://jrubyconf.com/
    %td ?
    %td ?
    %td
  %tr
    %td JUDCon Boston
    %td Boston, MA
    %td June ?
    %td N
    %td
      ?
    %td ?
    %td ?
    %td
  %tr
    %td JBossWorld
    %td Boston, MA
    %td June ?
    %td N
    %td
      ?
    %td ?
    %td 
    %td 
  %tr
    %td OSCon
    %td Portland, OR
    %td July 22 - 26
    %td N
    %td
      %a{:href=>"http://www.oscon.com/"} http://www.oscon.com/
    %td ?
    %td 
    %td 
  %tr
    %td Ruby Hoedown
    %td Nashville, TN
    %td ?
    %td Y
    %td
      %a{:href=>"http://rubyhoedown.com"} http://rubyhoedown.com
    %td ?
    %td 
    %td

  /
    %tr
    %td RubyNation
    %td DC
    %td March 23-24
    %td Y
    %td
      %a{:href=>"http://www.rubynation.org/"} http://www.rubynation.org/ 
    %td 
      Closes Feb 1 
      %a{:href=>"https://rubynation2012.busyconf.com/proposals/new"} https://rubynation2012.busyconf.com/proposals/new
    %td ?
    %td We've been invited
  /
    %tr
    %td MagicRuby
    %td Orlando, FL?
    %td April 5 - 6 (possibly moving to June)
    %td Y?
    %td
      %a{:href=>"http://magic-ruby.com/"} http://magic-ruby.com/ 
      (not updated for 2012)
    %td ?
    %td ?
    %td
  /
    %tr
    %td Cascadia Ruby Conf
    %td Seattle, WA
    %td July 29 - July 30
    %td Y
    %td
      %a{:href=>"http://cascadiarubyconf.com/"} http://cascadiarubyconf.com/
    %td Closed May 15th
    %td Bob || Toby
    %td Rejected
  /
    %tr
    %td Rocky Mountain Ruby
    %td Boulder, CO
    %td Aug 31 - Sep 2
    %td Y
    %td
      %a{:href=>"http://rockymtnruby.com/"} http://rockymtnruby.com/
    %td Open until June 30th
    %td 
    %td 
  /
    %tr
    %td GoGaRuCo
    %td San Francisco, CA
    %td Sep 16 - Sep 17
    %td Y
    %td
      %a{:href=>"http://gogaruco.com/"} http://gogaruco.com/
    %td Open until June 25th
    %td 
    %td 
  /  
    %tr
    %td WindyCityRails
    %td Chicago, IL
    %td Sep 17
    %td Y
    %td
      %a{:href=>"http://windycityrails.org/"} http://windycityrails.org/
    %td Closed July 1st
    %td Toby
    %td Submitted
  /
    %tr
    %td strange loop
    %td St. Louis, MO
    %td Sep 18 - Sep 20
    %td 
    %td
      %a{:href=>"http://thestrangeloop.com/"} http://thestrangeloop.com/
    %td Closed June 10
    %td Toby
    %td Rejected
  /
    %tr
    %td RubyConf
    %td New Orleans, LA
    %td Sep 29 - Oct 1
    %td 
    %td
      %a{:href=>"http://rubyconf.org/"} http://rubyconf.org/
    %td Closed June 15
    %td Toby
    %td Rejected
  /
    %tr
    %td JavaOne
    %td San Francisco, CA
    %td Oct 2 - Oct 6
    %td
    %td
      %a{:href=>"http://www.oracle.com/javaone/index.html"} http://www.oracle.com/javaone/index.html
    %td Closed May 23 11:59pm PDT
    %td
