---
title: Upcoming Conferences
layout: base
---

%table
  %tr
    %th Name
    %th Location
    %th Dates
    %th Regional?
    %th URL
    %th Call For Papers
    %th Who Wants to Submit?
    %th Status
  %tr
    %td Great Lakes Ruby Bash
    %td Cleveland, OH
    %td June 18
    %td Y
    %td
      %a{:href=>"http://greatlakesrubybash.com/"} http://greatlakesrubybash.com/
    %td Closed May 22
    %td
  %tr
    %td OSCon
    %td Portland, OR
    %td July 25 - July 29
    %td
    %td
      %a{:href=>"http://www.oscon.com/oscon2011"} http://www.oscon.com/oscon2011
    %td Closed, Bob has an "in"
    %td Bob 
    %td Invited
  %tr
    %td Cascadia Ruby Conf
    %td Seattle, WA
    %td July 29 - July 30
    %td Y
    %td
      %a{:href=>"http://cascadiarubyconf.com/"} http://cascadiarubyconf.com/
    %td Closed May 15th
    %td Bob || Toby
    %td Submitted
  %tr
    %td JRubyConf
    %td Washington, D.C.
    %td Aug 3 - Aug 5
    %td
    %td
      %a{:href=>"http://jrubyconf.com"} http://jrubyconf.com
    %td Not yet open
    %td Ben or Jim?
  %tr
    %td Ruby Hoedown
    %td Nashville, TN
    %td Aug 26 - Aug 27
    %td Y
    %td
      %a{:href=>"http://rubyhoedown.com"} http://rubyhoedown.com
    %td Closed May 16th
    %td Lance
    %td Submitted
  %tr
    %td Rocky Mountain Ruby
    %td Boulder, CO
    %td Aug 31 - Sep 2
    %td Y
    %td
      %a{:href=>"http://rockymtnruby.com/"} http://rockymtnruby.com/
    %td Open until June 30th
    %td 
    %td 
  %tr
    %td GoGaRuCo
    %td San Francisco, CA
    %td Sep 16 - Sep 17
    %td Y
    %td
      %a{:href=>"http://gogaruco.com/"} http://gogaruco.com/
    %td Open until June 25th
    %td 
    %td 
  %tr
    %td WindyCityRails
    %td Chicago, IL
    %td Sep 17
    %td Y
    %td
      %a{:href=>"http://windycityrails.org/"} http://windycityrails.org/
    %td Not yet open (June?)
    %td 
    %td 
  %tr
    %td strange loop
    %td St. Louis, MO
    %td Sep 18 - Sep 20
    %td 
    %td
      %a{:href=>"http://thestrangeloop.com/"} http://thestrangeloop.com/
    %td Closed June 10
    %td Toby
    %td Submitted
  %tr
    %td RubyConf
    %td New Orleans, LA
    %td Sep 29 - Oct 1
    %td 
    %td
      %a{:href=>"http://rubyconf.org/"} http://rubyconf.org/
    %td Open until June 15
    %td Toby
    %td Submitted
  %tr
    %td JavaOne
    %td San Francisco, CA
    %td Oct 2 - Oct 6
    %td
    %td
      %a{:href=>"http://www.oracle.com/javaone/index.html"} http://www.oracle.com/javaone/index.html
    %td Closed May 23 11:59pm PDT
    %td
