RewriteEngine on

RewriteRule ^.*.sha1$ / [G]
RewriteRule ^.*.md5$  / [G]
RewriteRule ^(.*)/maven-metadata.xml$    https://torquebox.ci.cloudbees.com//job/jboss-as7/lastSuccessfulBuild/artifact/.repository/$1/maven-metadata-local.xml [P]
RewriteRule ^(.*)$    https://torquebox.ci.cloudbees.com//job/jboss-as7/lastSuccessfulBuild/artifact/.repository/$1 [P]
