---
title: 'Screencast: Scheduled Jobs with TorqueBox'
author: Bob McWhirter
layout: news
---

:markdown
  The second screencast in our introductory series about TorqueBox is now available.

  This screencast, _Scheduled Jobs with TorqueBox_, shows you how to go beyond Rails and set up scheduled jobs.

  <object width="400" height="300">
    <param name="allowfullscreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=4908909&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed type="application/x-shockwave-flash" width="400" height="300" src="http://vimeo.com/moogaloop.swf?clip_id=4908909&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" allowfullscreen="true" allowscriptaccess="always"></embed>
  </object>

  Also available in downloadable formats:

  * [High-quality Quicktime .mov](http://repository.torquebox.org/screencasts/scheduled-jobs.mov)
  * [iPhone-compatible .m4v](http://repository.torquebox.org/screencasts/scheduled-jobs.m4v)

