---
title: Announcing the TorqueBox Project
author: Bob McWhirter
version: 1.0.0.Beta11
layout: release
---
:markdown
  # What is TorqueBox?

  The TorqueBox project develops the open-source, full-featured Ruby 
  application platform built upon the research, code and success of 
  the `JBoss Rails` project.

  TorqueBox Server provides compatibility with Ruby frameworks such as 
  Ruby-on-Rails, while also providing additional functionality.

  * Job scheduling
  * Task queues
  * SOAP serving
  * Telecom

  ## Download TorqueBox Server

  Today also marks the release of 1.0.0.Beta11 of the project. 
  [Downloads are available](/download) in a variety of forms.

  [Documentation](/documentation/#{page.version}/) continues to improve with each release, 
  is browsable online, or [downloadable in HTML and PDF formats](/documentation).

  ## Relationship to JBoss Rails

  The JBoss Rails project is immediately retired, with all code and team 
  members moving to the TorqueBox project.&nbsp; Effectively, this is just a renaming of the project.

  The former JBoss Rails mailing list will soon be retired.  The TorqueBox project 
  [provides several lists](/community/mailing_lists) for your participation.

  The Git repositories holding the former JBoss Rails code will remain indefinitely. 
  New development will occur within the [TorqueBox repositories at GitHub](/source_repository).

  ## Upcoming Events

  The TorqueBox project will be represented at the [JBoss booth at JavaOne](http://www.jboss.org/events/javaone.html).

