---
title: TorqueBox Presentation from Strange Loop in St. Louis
author: Bob McWhirter
layout: news
---
:markdown
  Thursday, I drove 666 miles to St. Louis to present at the Strange Loop conference 
  with [John Williams](http://twitter.com/j_m_williams).  We presented a quick 
  lay-of-the-land view of TorqueBox, hoping to inspire more people to check it out.</p>

  View our slides:

  <object style="margin:0px" width="425" height="355">
    <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=strangeloop-torquebox-091026085019-phpapp02&amp;stripped_title=strange-loop-torque-box" />
    <param name="allowFullScreen" value="true" />
    <param name="allowScriptAccess" value="always" /><embed type="application/x-shockwave-flash" width="425" height="355" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=strangeloop-torquebox-091026085019-phpapp02&amp;stripped_title=strange-loop-torque-box" allowscriptaccess="always" allowfullscreen="true"></embed>
  </object>

  or [download them](http://repository.torquebox.org/presentations/StrangeLoop-TorqueBox.pdf)
