---
title: RubyGems Repo
layout: default
---

%script{:type=>'text/javascript', :src=>'/javascripts/jquery.js' }
%script{:type=>'text/javascript', :src=>'/2x/gem-repo/gem-repo.js'}

%h2#build_header
  Build 

%table#gems
  %tr
    %th Gems
