---
title: RubyGems Repo
layout: gems
---

%script{:type=>'text/javascript', :src=>'/javascripts/jquery.js' }
%script{:type=>'text/javascript', :src=>'/2x/gem-repo/gem-repo.js'}

%table#gems
  %tr
    %th Available Gems

:javascript
  $(document).ready( function() {
    $('#repo-url').text( window.location.href );
  });
