---
layout: default
title: IRC
---

:markdown
  The developers and users of TorqueBox hang out on the `#torquebox` channel on FreeNode.

  * [irc://irc.freenode.net/torquebox](irc://irc.freenode.net/)
