
#bottom-left
  %h2 Download
  %ul
    %li
      %a{:href=>site.releases.first.urls.dist_zip}
        Latest release (Zip, #{site.releases.first.size}mb}
    %li
      %a{:href=>'/download/'}
        Other releases
  %h2 Learn
  %ul
    %li
      %a{:href=>'/news/'}
        News
    %li
      %a{:href=>'/faq/'}
        FAQ
    %li
      %a{:href=>'/documentation/'}
        Documentation
    %li
      %a{:href=>'/resources/'}
        Resources
    %li
      %a{:href=>'/license/'}
        License
#bottom-center
  %h2 Get Involved
  %ul
    %li
      %a{:href=>'/community/'}
        Community
        %ul
          %li
            %a{:href=>'/community/issues/'}
              Issue Tracker
          %li
            %a{:href=>'/community/mailing_lists/'}
              Mailing Lists
          %li
            %a{:href=>'/community/#irc'}
              IRC
          %li
            %a{:href=>'/community/#twitter'}
              Twitter
    %li
      %a{:href=>'/development/'}
        Development
        %ul
          %li
            %a{:href=>'/development#sourcerepo'}
              Source Repository
          %li
            %a{:href=>'/development#ci'}
              Continuous Integration
    %li
      %a{:href=>'/support/'}
        Support

