
#bottom-left
  %h2 Download
  %ul
    %li
      %a{:href=>site.releases.first.urls.dist_zip}
        Latest release: #{site.releases.first.version} (#{site.releases.first.dist_size}mb ZIP)
    %li
      %a{:href=>'/download/'}
        Recent releases
    %li
      %a{:href=>'/1x/builds'} 1.x Incremental Builds
    %li
      %a{:href=>'/2x/builds'} 2.x Incremental Builds
  %h2 Learn
  %ul
    %li
      %a{:href=>'/features/'}
        Features
    %li
      %a{:href=>'/news/'}
        News
    %li
      %a{:href=>'/faq/'}
        FAQ
    %li
      %a{:href=>'/documentation/'}
        Documentation
    %li
      %a{:href=>'/resources/'}
        Resources
    %li
      %a{:href=>'/license/'}
        License
#bottom-center
  %h2 Get Involved
  %ul
    %li
      %a{:href=>'/community/'}
        Community
        %ul
          %li
            %a{:href=>'/community/issues/'}
              Issue Tracker
          %li
            %a{:href=>'/community/mailing_lists/'}
              Mailing Lists
          %li
            %a{:href=>'/community/#irc'}
              IRC
          %li
            %a{:href=>'/community/#twitter'}
              Twitter
    %li
      %a{:href=>'/development/'}
        Development
        %ul
          %li
            %a{:href=>'/development/#sourcerepo'}
              Source Repository
          %li
            %a{:href=>'/development/#ci'}
              Continuous Integration
          %li
            %a{:href=>'/1x/source-guide/'}
              1.x Source Guide
          %li
            %a{:href=>'/2x/source-guide/'}
              2.x Source Guide
    %li
      %a{:href=>'/support/'}
        Support

