
#bottom-left
  %h2 Quick Links
  %ul
    %li
      %a{:href=>'https://issues.jboss.org/browse/TORQUE'}Issues
    %li
      %a{:href=>'http://webchat.freenode.net/?channels=torquebox'}#torquebox on IRC
    %li
      %a{:href=>'https://github.com/torquebox/torquebox/'}Source

    %li
      %a{:href=>site.releases.first.urls.dist_zip}
        Latest release: #{site.releases.first.version}
    %li
      %a{:href=>'/download/'}
        All releases
    %li
      %a{:href=>'/builds'} Incremental Builds

#bottom-center-left
  %h2 Learn
  %ul
    %li
      %a{:href=>'/features/'}
        Features
    %li
      %a{:href=>'/news/'}
        News
    %li
      %a{:href=>'/podcasts/'}
        Screencasts
    %li
      %a{:href=>'https://github.com/torquebox/torquebox/wiki'}
        Wiki
    %li
      %a{:href=>'/documentation/'}
        Documentation
    %li
      %a{:href=>'/resources/'}
        Resources
    %li
      %a{:href=>'/license/'}
        License

#bottom-center-right
  %h2 Get Involved
  %ul
    %li
      %a{:href=>'/community/'}
        Community
        %ul
          %li
            %a{:href=>'/community/issues/'}
              Issue Tracker
          %li
            %a{:href=>'/community/mailing_lists/'}
              Mailing Lists
          %li
            %a{:href=>'/community/#irc'}
              IRC
          %li
            %a{:href=>'/community/#twitter'}
              Twitter
    %li
      %a{:href=>'/development/'}
        Development
        %ul
          %li
            %a{:href=>'/development/#sourcerepo'}
              Source Repository
          %li
            %a{:href=>'/development/#ci'}
              Continuous Integration
          %li
            %a{:href=>'/development/source-guide/'}
              Source Guide
    %li
      %a{:href=>'/support/'}
        Support


