
#header-quick-links
  .title
    Download

  %table.downloads
    %tr.4x
      - release = site.fourx_releases.first
      - announcement = site.posts.find{|e| e.layout=='release' && e.version == release.version}
      %th
        %a{:href=>announcement.url}
          #{release.version}
      %td
        &nbsp;
      %td
        &nbsp;
    %tr.stable
      - release = site.releases.first
      %th
        #{release.version}
      %td
        #{release.dist_size}mb
      %td
        %a{:href=>release.urls.dist_zip} 
          ZIP
        |
        %a{:href=>release.urls.docs.pdf}
          PDF
        |
        %a{:href=>"/documentation/#{release.version}"}
          HTML
