
#header-quick-links
  .title
    Download

  %table.downloads
    %tr.stable
      %th
        #{site.releases.first.version}
      %td
        #{site.releases.first.dist_size}mb
      %td
        %a{:href=>site.releases.first.urls.dist_zip} 
          ZIP
        |
        %a{:href=>site.releases.first.urls.docs.pdf}
          PDF
        |
        %a{:href=>'/documentation/current'}
          HTML
    %tr.incremental
      %th
        %a{:href=>'/2x/builds'}
          Incremental
      %td
        &nbsp;
      %td
        %a{:href=>'/2x/builds/torquebox-dist-bin.zip'}
          ZIP
        |
        %a{:href=>'/2x/builds/torquebox-docs.pdf'}
          PDF
        |
        %a{:href=>'/2x/builds/html-docs/'}
          HTML


