%h1 
  %a{:href=>'/community/issues/'}
    Issue Tracker
  
%a{:href=>'/community/issues/'}
  %img.screencap{:src=>'/images/screencaps/jbossjira.png'}

%p
  The project tracks bugs, feature-requests, and other issues
  through the JIRA issue-tracking system at JBoss.org.

%p
  To file issues or requests with JIRA, you must have a
  JBoss Community account.  Signing up is easy.

:markdown
  You can [browse existing issues](https://issues.jboss.org/browse/TORQUE)
  or [learn more about filing issues](/community/issues/).
        
