
%ul#top-nav
  %li
    %a{ :href=>'/' } Home
  %li
    %a{ :href=>'/news/' } News
  %li
    %a{ :href=>'/download/' } Download
  %li
    %a{ :href=>'/documentation/' } Documentation
  %li
    %a{ :href=>'/community/' } Community
  %li
    %a{ :href=>'/development/' } Development
  %li
    %a{ :href=>'/license/' } License
