%link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/site.css', :media => 'screen, projection' }
%script{:type=>'text/javascript', :src=>'/javascripts/jquery.js' }
%script{:type=>'text/javascript', :src=>'/javascripts/jquery.jgfeed.js' }
%script{:type=>'text/javascript', :src=>'/javascripts/dateformat.js' }

%ul#top-nav
  %li
    %a{ :href=>'/' } Home
  %li
    %a{ :href=>'/features/' } Features
  %li
    %a{ :href=>'/news/' } News
  %li
    %a{ :href=>'/download/' } Download
  %li
    %a{ :href=>'/documentation/' } Documentation
  %li
    %a{ :href=>'/podcasts/' } Screencasts
  %li
    %a{ :href=>'/faq/' } FAQ
  %li
    %a{ :href=>'/community/' } Community
  %li
    %a{ :href=>'/development/' } Development
  %li
    %a{ :href=>'/license/' } License
