
RewriteEngine on

RewriteRule ^([0-9]+)/torquebox-dist-bin.zip$   https://torquebox.ci.cloudbees.com/job/torquebox-2x/label=m1.large,ruby_compat_version=1.8/$1/artifact/build/dist/target/torquebox-dist-bin.zip [P]
RewriteRule ^(LATEST/)?torquebox-dist-bin.zip$     https://torquebox.ci.cloudbees.com/job/torquebox-2x/label=m1.large,ruby_compat_version=1.8/lastSuccessfulBuild/artifact/build/dist/target/torquebox-dist-bin.zip [P]

SetEnvIfNoCase Request_URI torquebox-dist-bin\.zip$ torquebox-latest
Header set Content-Disposition \
    "attachment; filename=torquebox-dist-bin.zip" env=torquebox-latest
