---
title: 'Getting Started With Sinatra on TorqueBox 2.0'
subtitle: 'Create a Sinatra application from scratch in under 5 minutes'
enclosure_mp4: 'basic-sinatra.mp4'
enclosure_ogg: 'basic-sinatra.theora.ogv'
duration: '4:16'
tags: [sinatra, howto]
author: Lance Ball
layout: podcasts
---

In this short screencast I show you how to easy it is to create
and run Sinatra applications under TorqueBox.


