---
title: 'Getting Started With Rails on TorqueBox 2.0'
subtitle: 'Create a Rails application from scratch in under 5 minutes'
enclosure: 'podcasts/media/rails-apps.mp4'
duration: '5:53'
tags: [rails, howto]
author: Lance Ball
layout: podcasts
---

In this short screencast I show you how to easy it is to create
and run Rails applications under TorqueBox.

