---
title: 'Long Running Services in TorqueBox 2.0'
subtitle: 'Quickly create a long-running service in TorqueBox'
enclosure_mp4: 'simple-service.m4v'
enclosure_ogg: 'simple-service.theora.ogv'
duration: '4:42'
tags: [services, howto]
author: Lance Ball
layout: podcasts
---

In this short screencast I show you how to easy it is to create
long-running services that share your application's lifecycle.



