---
title: 'Installing TorqueBox 2.0 Beta1'
subtitle: 'How to get started with TorqueBox and RVM in under 5 minutes'
enclosure: podcasts/media/torquebox-install.m4v
duration: '4:11'
tags: [rvm, setup, installation]
author: Lance Ball
layout: podcasts
---

This 5 minute introductory video will walk you through an installation of
TorqueBox 2.0 Beta 1, using RVM and the torquebox-server gem.
