---
title: 'Background Jobs in TorqueBox 2.0'
subtitle: 'How to use TorqueBox::Messaging::Backgroundable to execute tasks in the background'
enclosure_mp4: 'backgroundable.m4v'
enclosure_ogg: 'backgroundable.ogv'
duration: '5:15'
tags: [messaging, backgroundable, jobs]
author: Lance Ball
layout: podcasts
---

%p
  In this screencast, you'll learn how to use 
  %code TorqueBox::Messaging::Backgroundable
  to run tasks on separate, background threads - similar to 
  %code Delayed::Job 
  or Resque.
  This video builds on a 
  %a{:href=>'/podcasts/2011/12/20/sinatra-on-torquebox'} previous screencast 
  by adding DataMapper, Haml, and 
  %code
    TorqueBox::Messaging::Backgroundable 
  to a simple Sinatra application.




