---
title: Issues
layout: default
section: Community
---

.span-11.append-1
  :markdown
    Bugs
    ====
    Bugs are what happens when it just doesn't work the
    way you'd expect it to. Particularly so if we've implied
    that your expectations are correct through documentation
    or examples.
    
    Many bugs reveal themselves in very peculiar circumstances
    that we have not tested for. So when you're telling us about
    a bug, include as much information as possible.  Include details
    about your operating system, your Java version, your Rails version,
    your networking environment, whatever you think might help.
    
    * [File a new bug report](https://jira.jboss.org/jira/secure/CreateIssue.jspa?issuetype=1&amp;pid=12310812)

.prepend-1.span-11.last
  :markdown
    Features
    ========

    Feature requests are always welcome.  We expect TorqueBox to 
    support many difference use-cases, but we're sure we have not
    thought of them all.  
    
    Let us know what you wish you could do with TorqueBox, and we'll
    look at getting it on the roadmap.  It may not necessarily be "soon",
    but knowing what everyone wants can only help us in our planning.
      
    * [Create a new feature request](https://jira.jboss.org/jira/secure/CreateIssue.jspa?issuetype=2&amp;pid=12310812)

