---
title: Mailing Lists
layout: default
section: Community
---
:markdown
  # User List

  The user list is where most discussions occur. The focus of 
  the user list is indeed issues & suggestions related to the 
  use of TorqueBox. If you think you've found a bug, the user 
  list is an excellent place to start. The community can help 
  determine if you're having a simple usage issue, or have 
  found a true defect.
  
  The developers of the TorqueBox project participate on the user list regularly.

  ## Subscribe
  
  To subscribe to the user list, send an email (no subject or body is required) to:
  
      torquebox-user-subscribe@torquebox.org 
  
  You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete your subscription.

  ## Unsubscribe
  
  To unsubscribe from the user list, send an email (no subject or body is required) to:
  
      torquebox-user-unsubscribe@torquebox.org 
  
  You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete the unsubscription.


:markdown
  # Developer List

  The developer list is where the developers discuss internal designs, 
  choices and complexity. If you are interested in the inner workings 
  and how they are built, the developer list is an excellent resource.
  
  Since the developers also participate on the user list, there is no 
  need to initiate bug reports on the developer list. The developers will 
  escalate true defects to the developer list to determine the proper course of action.

  ## Subscribe
    
  To subscribe to the developer list, send an email (no subject or body is required) to:

      torquebox-dev-subscribe@torquebox.org 

  You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete your subscription.

  ## Unsubscribe

  To unsubscribe from the developer list, send an email (no subject or body is required) to:
  
      torquebox-dev-unsubscribe@torquebox.org 
  
  You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete the unsubscription.


:markdown
  # Build Notice List

  The build notice is where our Jenkins 
  [continuous integration server](http://projectodd.ci.cloudbees.com/) sends
  its plethora of notifications. If our various build failures and successes interest
  you, by all means sign up.

  ## Subscribe
    
  To subscribe to the build notice list, send an email (no subject or body is required) to:

      torquebox-builds-subscribe@torquebox.org 

  You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete your subscription.

  ## Unsubscribe

  To unsubscribe from the build notice list, send an email (no subject or body is required) to:
  
      torquebox-builds-unsubscribe@torquebox.org 
  
  You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete the unsubscription.


.archives
  :markdown
    # Archives

    Archives for the user and developer lists are available through the generosity of MarkLogic and their MarkMail service.

    * [User list archives](http://torquebox.markmail.org/search/list:org%2Etorquebox%2Etorquebox-user)
    * [Developer list archives](http://torquebox.markmail.org/search/list:org%2Etorquebox%2Etorquebox-dev)


