
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/utilities/lists";
@import "compass/css3/border-radius";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

form.bp {
  @include blueprint-form;
}

body.bp {
  #nav-wrapper, #header-wrapper, #footer-wrapper, #primary-wrapper {
    @include container;
  }
  #header-bar {
    padding-top: 1em;
    padding-bottom: 1ex;
    margin-bottom: 3em;
    background-color: $bar_background_color;
    border-bottom: 1px solid $bar_background_color - #333; 
    border-top: 1px solid $bar_background_color - #333; 
  }
  #header {
  }
  #header, #footer, #primary-container {
    @include column($blueprint_grid_columns);
    @include last;
  }
  #footer-bar {
    margin-top: 4em;
    padding-bottom: 2em;
    padding-top: 0px;
    margin-bottom: 2em;
    background-color: $bar_background_color;
    border-bottom: 1px solid $bar_background_color - #333; 
    border-top: 1px solid $bar_background_color - #333; 
  }
}

#nav-wrapper {
  padding-top: 1ex;
  ul#top-nav {
    @include horizontal-list(1ex);
    font-size: 110%;
    font-weight: bold;
    clear: both;
    margin-bottom: 1ex;
    a {
      text-decoration: none;
    }
  }
}

#footer {
  padding-top: 1em;
  margin-top: 1em;

  #bottom-nav {
    a {
      text-decoration: none;
    }
    #bottom-left {
      @include column(8);
    }
    #bottom-center {
      @include column(8);
    }
    #bottom-right {
      @include column(8);
      @include last;
      #legal {
        margin-bottom: 2em;
      }
      #badges a {
        display: block;
        float: left;
        margin-right: 20px;
        img#jbosscommunity-logo, img#projectodd-logo {
          width: 130px;
          margin-bottom: 20px;
        }
      }
    
        
    }
    h2 {
      margin-bottom: .5ex;
    }
    ul {
      list-style-type: none;
      margin-left: 0px;
      padding-left: 0px;
      ul {
        padding-left: 1em;
      }
    }
  }
}

/*
#front-page {
  #left-column {
    font-size: 130%;
    @include column(14);
    @include append(1);
  }
  #right-column {
    @include column(9);
    @include last;
  }
  #latest-news {
    h1, h2 {
      font-weight: bold;
    }
    h1 {
      font-size: 200%;
      border-bottom: 1px solid $top_nav_border_color;
    }
    h2 {
      font-size: 150%;
      margin-bottom: 0px;
      a {
        text-decoration: none;
      }
    }
  }
  #latest-release {
    @include box;
    @include border-radius(1em);
    background-color: $page_background_color + #222;
    border: 2px solid $page_background_color - #888;
    text-align: center;
    a {
      color: $header_color;
    }
    h1, h2, .size {
      font-weight: bold;
      font-size: 110%;
    }
    #download-link {
      font-weight: bold;
      font-size: 140%;
      display: block;
      margin-bottom: 1em;
      color: $color_dark + #222;
    }
    .links {
    }
  }
}
*/

#download-table {
  @include prepend-top;
  @include column(24);
  @include last;
}

#two-column {
  #left-column {
    @include column(11);
    @include append(1);
  }
  #right-column {
    @include prepend(1);
    @include column(11);
    @include last;
  }
}

#right-sidebar {
  #main-column {
    @include column(14);
    @include append(1);
  }
  #sidebar-column {
    @include column(9);
    @include last;
  }
}

#main-column {
  font-size: 110%;
}


#primary-container {
  h1.page-title {
    font-size: 220%;
    font-weight: bold;
    color: $page_title_color;
    margin-bottom: 1ex;
    padding-bottom: .5ex;
    a {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 140%;
  }
  h2 {
    font-size: 120%;
  }
  h3 {
    font-size: 110%;
    font-weight: bold;
  }
  pre {
    font-size: 90%;
    code {
      display: block;
      padding: 1em;
      border: 1px dotted $code_border_color;
      overflow-x: auto;
    }
  }
  p {
    margin-bottom: 1em;
  }
}

table.downloads {
  empty-cells: show;
  th {
    border-bottom: 1px solid $downloads_th_border_color;
  }
  td {
    vertical-align: top;
    border-bottom: 1px solid $downloads_td_border_color;
    .version {
      font-size: 105%;
      font-weight: bold;
    }
  }
  ul {
    margin: 0px;
    padding-left: 1em;
  }
}

table#builds {
  .build .number {
    border-left: 12px solid black;
  }
  .build.stable .number {
    border-left: 12px solid #559955;
  }
  .build.repaired .number {
    border-left: 12px solid #77BB77;
  }
  tr.broken td.build .number {
    border-left: 12px solid #995555;
  }
  tr.aborted td.build .number {
    border-left: 12px solid #999999;
  }
}

table.incremental-builds {
  .col-build {
    width: 25%;
  }
  .col-dist {
    width: 20%;
  }
  .col-docs {
    width: 20%;
  }
  .col-changes {
    width: 20%;
  }
  .col-git {
  }
}

.post-navigation {
  line-height: 1.4em;
  margin-bottom: 2em;
  .next, .previous {
    color: $post_nav_color;
    margin-bottom: 1em;
    .label {
      font-weight: bold;
    }
    a {
      display: block;
      text-decoration: none;
      padding: 0px;
    }
  }
}

.post {
  margin-bottom: 1em;
  border-bottom: 1px solid $post_border_color;
  line-height: 1.5em;
  h1.title {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: .5ex;
    a {
      text-decoration: none;
    }
  }
  .byline {
    margin-bottom: 2em;
    font-size: 90%;
    .date {
      display: inline;
      color: $post_date_color;
      margin-left: 1ex;
    }
    .author {
      font-weight: bold;
      display: inline;
    }
    .tags {
      a {
        font-weight: bold;
        margin-right: 1ex;
        text-decoration: none;
      }
    }
  }
  .body {
    margin-bottom: 2em;
  }
  .comments {
    border-top: 1px solid $post_comments_border_color;
    margin-bottom: 2em;
  }
  .tail {
    background-color: $post_tail_background_color;
    border: 1px solid $post_tail_border_color;
    padding: .8ex;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

#error-404 {
  @include prepend(4);
  @include column(16);
  @include append(4);
  font-size: 200%;
}

form {
  label {
    display: block;
  }
}

.bp {
  .pagination-links {
    margin-bottom: 1em;
    a {
      text-decoration: none;
    }
    a, .current-page, .slip {
      padding: .5ex;
      margin-right: .5ex;
    }
    a.page-link, .current-page, .previous-link, .next-link {
      border: 1px solid $pagination_border_color;
    }
    .current-page {
      font-weight: bold;
    }
  }
}

.bp {
  #primary-content {
    table.tcTable {
      border: 1px solid $tcTable_border_color;
      .projectName {
        font-weight: bold;
        font-size: 120%;
      }
    }
  }
}

.bp {
  .bio {
    @include column(14);
    @include last;
    margin-bottom: 2em;
    .avatar {
      @include column(3);
    }
    .contact {
      @include column(8);
      @include last;
      ul {
        @include horizontal-list(3ex);
        .label {
          color: $team_account_color;
          font-weight: bold;
        }
        a {
          display: block;
          text-decoration: none;
          padding: 0px;
        }
      }
    }
  }
}

#latest-jiras, #latest-git {
  ul {
    font-size: 80%;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;

    li {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #999;
    }
    h4 {
      display: inline;
    }
    a {
      text-decoration: none;
    }
  }
}

.irclog {
  border-collapse: collapse;

  .timestamp {
    text-align: right;
    padding: 0px;
  }

  .user {
    padding: 0px;
    font-weight: bold;
  }

  .text {
    padding: 0px;
    padding-left: 1ex;
  }

  .meta {
    padding: 0px;
    color: #999;
  }
}

#front-page {
  #top-row {
    .left-column {
      @include column(16);
      #knob {
        width: 200px;
        float: right;
      }
      #blurb {
        font-size: 140%;
      }
    }

    .right-column {
      @include prepend(1);
      @include column(7);
      @include last;
    }
  }

  #middle-row {  
    @include column(24);
    @include last;
    text-align: center;
    margin-bottom: 4em;
    margin-top: 2em;
  }

  #bottom-row {
    .left-column {
      @include column(11);
      @include append(1);
    }
    .right-column {
      @include prepend(1);
      @include column(11);
      @include last;
    }
  }

  #latest-release {
    text-align: right;
    a {
      color: $header_color;
    }
    #download-link {
      font-weight: bold;
      font-size: 180%;
      display: block;
      margin-bottom: 1em;
      color: #333;
      text-align: center;
    }
    .details {
      th {
        text-align: right;
        border-bottom: 1px solid #111;
      }
      td {
        text-align: left;
        border-bottom: 1px solid #111;
      }
      tr.links td {
        text-align: center;
      }
    }
    .links {
    }
  }


  #latest-news {
    .item {
      margin-bottom: 1em;
    }
    h1, h2 {
      font-weight: bold;
    }
    h1 {
      font-size: 160%;
      border-bottom: 1px solid $top_nav_border_color;
    }
    h2 {
      font-size: 120%;
      margin-bottom: 0px;
      a {
        text-decoration: none;
      }
    }
    .tail {
      border-bottom: 1px solid $post_tail_border_color;
      padding: .8ex;
      padding-right: 0px;
      margin-bottom: 1em;
      margin-top: 1em;
      text-align: right;
    }
    #even-more {
      display: block;
      text-align: center;
      font-size: 180%;
      font-weight: bold;
    }
  }

  #upcoming-talks {
    .item {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid $post_tail_border_color;
    }
    h1, h2 {
      font-weight: bold;
    }
    h1 {
      font-size: 160%;
      border-bottom: 1px solid $top_nav_border_color;
    }
    h2 {
      font-size: 120%;
      margin-bottom: 0px;
      a {
        text-decoration: none;
      }
    }
    h3 {
      font-size: 100%;
    }
    .event_details {
      float: right;
      font-weight: bold;
      text-align: right;
    }
    img.event_logo {
      clear: both;
      max-width: 200px;
      display:block;
      margin: auto;
      margin-bottom: 2em;
      margin-top: 2em;
    }
    .details {
      clear: both;
      margin-bottom: 1ex;
    }
    .links {
      text-align: right;
      font-weight: bold;
    }
  }
}

#community, #development {
  #intro {
    border: 1px dotted #555;
    padding: 2em;
    margin-bottom: 4em;
    p {
      font-size: 135%;
    }
  }

  #main-content {
    .section {
      padding-top: 2em;
      margin-top: 2em;
      border-top: 1px dotted #999;
      clear: both;
    }
    h1 {
      clear: both;
      font-weight: bold;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  
    p {
      width: 500px;
      font-size: 110%;
    }

    p.more {
      text-align: right;
      font-size: 140%;
      font-weight: bold;
      a { 
        text-decoration: none;
      }
    }
    img.screencap {
      margin-left: 1em;
      margin-bottom: 1em;
      width: 200px;
      float: right;
    }
    pre {
      border: 1px dashed #555;
      padding: 1em;
      font-size: 110%;
      width: 500px;
    }
  }

}

#header-quick-links {
  float: right;
  font-size: 85%;
  padding: 1ex;
  border: 1px solid $bar_background_color - #333;
  a {
    text-decoration: none;
  }
  .title {
    font-size: 120%;
    font-weight: bold;
    color: $header_color - #222;
  }
  .section-title {
    font-weight: bold;
    border-bottom: 1px solid $bar_background_color - #333;
  }
  .stable, .development {
    float: left;
    margin-right: 2em;
  }
}


div.gist {
  margin: 2em 0;
}

.tag-cloud {
  margin: auto;
  text-align: justify;

  .tag {
    a {
      text-decoration: none;
    }
  }

  .tag-0 {
    font-size: 130%;
  }

  .tag-1 {
    font-size: 150%;
  }

  .tag-2 {
    font-size: 170%;
  }

  .tag-3 {
    font-size: 190%;
  }

  .tag-4 {
    font-size: 210%;
  }

  .tag-5 {
    font-size: 230%;
  }

  .tag-6 {
    font-size: 250%;
  }

}
