
.irclog {
  border-collapse: collapse;

  .timestamp {
    text-align: right;
    padding: 0px;
  }

  .user {
    padding: 0px;
    font-weight: bold;
  }

  .text {
    padding: 0px;
    padding-left: 1ex;
  }

  .meta {
    padding: 0px;
    color: #999;
  }
}
