
body
  :font-family Trebuchet MS
  a
    :text-decoration none
    :color #339
  

#header
  :margin-top 1em
  :margin-bottom 3em
  #logos
    :padding 1em
    :margin-bottom 1ex
    img#torquebox-logo
    img#jbosscommunity-logo
      :float right
      :width 200px
      :margin-top 10px
  ul#top-nav
    :clear both
    :border-top 1px solid #999
    :border-bottom 1px solid #999
    :font-size 130%
    :font-weight bold
    :margin 0px
    :padding 0px
    :list-style-type none
    li
      :padding 1ex
      :display inline
  a:hover
    :color #999

#footer
  :font-size 90%
  :color #999
  :border-top 1px solid #999
  :padding-top 1ex
  :padding-bottom 2em
#body
  .sidebar
    :font-size 80%
    ul
      :list-style-type none
      :margin 0px
      :padding 0px
      li
        :margin-bottom 1ex
  #content
  a
    :text-decoration underline
  :font-size 120%
  :line-height 1.6em
  h1.page-title
    :font-size 220%
    :font-weight bold
    :color #337
    :margin-bottom 1ex
    :padding-bottom .5ex
    a
      :text-decoration none
  h1
    :font-size 140%
    :color #449
  h2
    :font-size 120%
    :color #449
  pre
    :font-size 90%
    code
      :padding 1em
      :border 1px dotted #999

  .post
    :margin-bottom 1em
    :border-bottom 1px solid #ccc
    :line-height 1.2em
    :font-size 90%
    h1.title
      :font-size 125% 
      :font-weight bold
      :margin-bottom .5ex
      a 
        :text-decoration none
    .byline
      :margin-bottom 1em
      :font-size 90%
      .date
        :display inline
        :color #555
        :margin-left 1ex
      .author
        :font-weight bold
        :display inline
    .body

table.downloads
  :font-size 80%
  th
    :border-bottom 1px solid black
  td
    :vertical-align top
    :border-bottom 1px solid #777
  ul
    :margin 0px
    :padding-left 1em
