---
title: Incremental Builds
layout: default
---

%script{:type=>'text/javascript', :src=>'jenkins.js'}

%a{:href=>'http://cloudbees.com/', :style=>'display: block; float:right; margin-left: 3em; margin-bottom: 3em;'}
  %img{:src=>'/images/cloudbees_logo.png'}

%h1 Incremental Builds

%p 
  Incremental builds are performed by our <a href="/development/#ci">CI system</a> any time the code changes.
  The incremental builds are supported by a contribution from 
  <a href="http://cloudbees.com/">CloudBees</a>.  <span id="build-currently-building"/>

 
.clearfix{:style=>'clear:both; height: 0px;'}
  &nbsp;

%h2 Latest Stable Incremental Build

%p
  The latest stable build may be fetched using this constant URL:

%ul
  %li
    %a{:href=>'/builds/LATEST/torquebox-dist-bin.zip'}
      http://torquebox.org/builds/LATEST/torquebox-dist-bin.zip

%p 
  Details of this build are immediately below.

%table.downloads.incremental-builds#latest-stable
  %tr.header
    %th.col-build Build
    %th.col-dist Binary Distribution
    %th.col-docs Documentation
    %th.col-details Details
    %th.col-git Git

.spacer{:style=>'height: 2em;'}
  &nbsp;

%h2 Recent Incremental Builds

%p
  The last 20 builds are listed below.  A currently-running build is displayed in yellow. Aborted builds are displayed in grey.
  Successful builds are green.  Failed builds are in red.  Failed builds <b>may produce artifacts</b>, but they should probably
  not be trusted.

%table.downloads.incremental-builds#builds
  %tr.header
    %th.col-build Build
    %th.col-dist Binary Distribution
    %th.col-docs Documentation
    %th.col-details Details
    %th.col-git Git
  
:javascript
  j = new Jenkins( 'https://torquebox.ci.cloudbees.com', 'torquebox' );
