%html
  %head
    %title
      TorqueBox: #{page.title}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>'/news.atom' }
  %body.bp
    ~ content

  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  :javascript
    try {
    var pageTracker = _gat._getTracker("UA-6435340-2");
    pageTracker._trackPageview();
    } catch(err) {}
