---
change_frequency: weekly
priority: 0.5
---
%html
  %head
    %title
      #{site.title}: #{page.title}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>'/news.atom' }
    = google_analytics_async
    %link{ :rel=>"stylesheet", :media=>"screen", :type=>"text/css", :href=>"/javascripts/leanback/css.player/leanbackPlayer.default.css" }
    %script{:type=>"text/javascript", :src=>"/javascripts/leanback/js.player/leanbackPlayer.pack.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/leanback/js.player/leanbackPlayer.en.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/leanback/js.player/leanbackPlayer.de.js"}
  %body.bp
    ~ content

