---
layout: base
---

#container
  #header
    .spacer-box
      #logos
        %a{:href=>'/'}
          %img#torquebox-logo{ :src=>'/images/torquebox-logo.png' }
        %a{:href=>'http://jboss.org/'}
          %img#jbosscommunity-logo{ :src=>'/images/jbosscommunity-logo.png' }
      %ul#top-nav
        %li
          %a{ :href=>'/' } Home
        %li
          %a{ :href=>'/news/' } News
        %li
          %a{ :href=>'/download/' } Download
        %li
          %a{ :href=>'/documentation/' } Documentation
        %li
          %a{ :href=>'/community/' } Community
        %li
          %a{ :href=>'/development/' } Development
        %li
          %a{ :href=>'/license/' } License
  #primary-container
    - unless page.inhibit_title 
      %h1.page-title
        - if page.section 
          %a{:href=>"/#{page.section.downcase}/"} #{page.section}
          \:
        #{page.title}
    #primary-content
      ~ content
  #footer
    #bottom-nav
      #bottom-left
        %h2 Download
        %ul
          %li
            %a{:href=>site.releases.first.urls.dist_zip}
              Latest release (Zip, #{site.releases.first.size}mb}
          %li
            %a{:href=>'/download/'}
              Other releases
      #bottom-center
        %h2 Learn
        %ul
          %li 
            %a{:href=>'/news/'}
              News
          %li 
            %a{:href=>'/faq/'}
              FAQ
          %li 
            %a{:href=>'/documentation/'}
              Documentation
          %li 
            %a{:href=>'/resources/'}
              Resources
          %li 
            %a{:href=>'/license/'}
              License
      #bottom-right
        %h2 Get Involved
        %ul
          %li 
            %a{:href=>'/community/'}
              Community
              %ul
                %li
                  %a{:href=>'/community/mailing_lists/'}
                    Mailing Lists
                %li
                  %a{:href=>'/community/issues/'}
                    Issue Tracker
                %li
                  %a{:href=>'/community/irc/'}
                    IRC
          %li
            %a{:href=>'/development/'}
              Development of TorqueBox
              %ul
                %li 
                  %a{:href=>'/development/source_repository/'}
                    Source Repository
                %li 
                  %a{:href=>'/development/continuous_integration/'}
                    Continuous Integration
          %li 
            %a{:href=>'/support/'}
              Support
    
    #legal
      A member of the <a href="http://jboss.org/">JBoss Community</a>.
      Copyright 2009-2010 <a href="http://redhat.com/">Red Hat, Inc.</a>
      TorqueBox is a trademark of Red Hat, Inc.
