---
layout: default
title: Download
---

#download-table
  %table.downloads
    %tr
      %th
        Version
      %th
        Binary Distribution
      %th
        Documentation
      %th
        Changelog
      %th
        Git Tree
    - for release in site.old_releases
      %tr
        %td
          .version
            = release.version
          - announcement = site.posts.find{|e| e.layout=='release' && e.version == release.version}
          - if announcement
            .announcement
              %a{:href=>announcement.url} Release announcement
            .release-date
              = announcement.date.strftime( '%d %B %Y' )
        %td
          %a{:href=>release.urls.dist_zip}
            ZIP archive (#{release.dist_size}mb)
        %td
          %ul
            %li
              %a{:href=>release.urls.docs.browse} Browse
            %li
              %a{:href=>release.urls.docs.html_multi_zip} Multi-page HTML ZIP
            - unless ( release.urls.docs.html_single_zip.empty? )
              %li
                %a{:href=>release.urls.docs.html_single_zip} Single-page HTML ZIP
            %li
              %a{:href=>release.urls.docs.pdf} PDF 
        %td
          %ul
            %li
              %a{:href=>release.urls.jira} JIRA Issues
            %li
              %a{:href=>release.urls.github.log} Git Log
        %td
          %a{:href=>release.urls.github.tree} Browse
